header {
  position: relative;
}

.fixed-menu {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 10rem;
  padding: 2rem 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}

header:has(> .navigation-container.opened) > .fixed-menu {
  background-color: var(--pink);
  border-bottom: 1px solid #ffffff90;
}

.fixed-menu.styled {
  background-color: var(--white);
  box-shadow: 0px 15px 10px -15px rgba(17, 17, 17, 0.5);
}

.logo,
.white-logo {
  width: 15rem;
  height: 5rem;
}

.white-logo {
  display: none;
}

.fixed-menu > a:has(~ .btn-menu.opened) > .white-logo {
  display: block;
}

.fixed-menu > a:has(~ .btn-menu.opened) > .logo {
  display: none;
}

.btn-menu {
  width: 5rem;
  height: 5rem;
  border: none;
  outline: none;
  border-radius: 50%;
  background-color: var(--pink);
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-menu:hover {
  cursor: pointer;
}

.btn-menu.opened > .open-menu-icon {
  display: none;
}

.btn-menu.opened > .close-menu-icon {
  display: block;
}

.btn-menu .open-menu-icon {
  width: 3rem;
  height: 3rem;
}

.btn-menu .close-menu-icon {
  display: none;
  width: 4rem;
  height: 4rem;
}

/* MENU-NAVIGATION */
.navigation-container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
  opacity: 1;
  visibility: visible;
  width: 100%;
  height: 100%;
  padding: 14rem 5rem 4rem;
  background-color: var(--pink);
  transition: all 250ms ease-in-out;
  clip-path: circle(3rem at calc(100% - 7.5rem) 5rem);
}

.navigation-container.opened {
  opacity: 1;
  visibility: visible;
  clip-path: circle(75%);
  overflow-y: auto;
}

body:has(.site-wrapper > header > .navigation-container.opened) {
  overflow: hidden;
}

.menu-navigation {
  display: none;
}

.navigation-container.opened > .menu-navigation {
  width: 100%;
  max-height: fit-content;
  display: flex;
  gap: 8rem;
  align-items: center;
  flex-direction: column-reverse;
  justify-content: space-between;
}


.navigation-list {
  display: flex;
  gap: 5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navigation-item,
.social-medias-links {
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: flex-start;
}

.navigation-item {
  flex-direction: column;
}

.navigation-item-link {
  position: relative;
  font-size: 6rem;
  font-weight: 900;
  color: var(--white);
  font-family: 'Montserrat', sans-serif;
  line-height: 4rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: padding-left 0.5s, color 0.2s;
  padding-left: 0;
}

.navigation-item-link:hover,
.navigation-item-link:focus {
  color: var(--gray);
}

.navigation-item-description {
  font-size: 2rem;
  font-weight: 100;
  line-height: 14px;
  font-style: italic;
  color: var(--white);
  text-transform: capitalize;
  font-family: 'Roboto', sans-serif;
}

.social-media-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  transition: all 0.25s;
}

.social-media-link:hover {
  border-radius: 50%;
  background-color: var(--white);
}

.social-media-link-img {
  width: 4rem;
  height: 4rem;
  transition: all 0.5s;
}

.social-media-link-img:hover {
  filter: brightness(0);
  transform: scale(0.7);
}

@media screen and (max-width: 768px) {
  .navigation-container.opened {
    overflow-y: scroll;
  }

  .navigation-item-link {
    font-size: 4rem;
  }

  .social-media-link-img {
    width: 4rem;
    height: 4rem;
  }
}

@media screen and (max-width: 500px) {
  .fixed-menu {
    padding-inline: 3rem;
  }

  .navigation-container {
    padding-inline: 3rem;
    padding-bottom: 10rem;
    clip-path: circle(3rem at calc(100% - 5.4rem) 5rem);
  }

  .menu-navigation {
    height: 100%;
    gap: 5rem;
    flex-direction: column;
    justify-content: space-between;
  }

  .navigation-item {
    gap: 3rem !important;
  }

  .social-medias-links {
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
}
