body {
  perspective: none !important;
}

body:has(.navigation-container.opened) {
  overflow: hidden;
}

main {
  padding-top: 10rem;
  background-color: var(--full-black);
}

.content {
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
}

.contact {
  width: 100%;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-content {
  width: 100%;
  height: 100%;
  padding: 10rem 20rem;
  display: grid;
  grid-template-areas:
    'infos mascot'
    'where mascot'
    'we are'
    'addresses addresses';
  grid-template-columns: 700px 400px;
  grid-template-rows: 400px 200px 200px auto;
  align-items: end;
  justify-items: center;
  justify-content: center;
  column-gap: 3rem;
}

.right-infos {
  grid-area: infos;
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.right-text {
  position: absolute;
  font-size: 2rem;
  font-weight: bolder;
  font-family: 'Montserrat';
  text-transform: uppercase;
  text-align: center;
  transform: rotate(-90deg);
  text-wrap: nowrap;
}

.infos {
  width: 100%;
  height: 100%;
  max-height: 300px;
  display: flex;
  padding-left: 7rem;
  flex-direction: column;
  justify-content: space-between;
}

.infos > a {
  color: var(--white);
}

.mascot {
  grid-area: mascot;
  width: 100%;
  display: flex;
  padding-bottom: 1rem;
  align-items: flex-start;
  justify-content: flex-start;
}

.mascot > img {
  width: 400px;
}

.right-text {
  left: -138px;
  bottom: 138px;
}

.right-text::after {
  position: absolute;
  content: '';
  height: 2px;
  background-color: var(--pink);
}

.right-text::after {
  top: 50%;
  width: 100%;
  margin-left: 1.5rem;
}

.pink-text {
  color: var(--pink) !important;
}

.white-text {
  color: var(--white) !important;
}

.link-title {
  width: 100%;
  font-weight: 800;
  font-size: 2rem;
  color: var(--black);
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif !important;
}

.link-email {
  font-size: 1.6rem;
  text-transform: none;
  font-family: 'Roboto', sans-serif !important;
}

.title {
  line-height: 0.5;
  font-size: 17rem;
  color: var(--white);
  text-transform: uppercase;
}

.where {
  grid-area: where;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.we {
  width: 100%;
  grid-area: we;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.are {
  grid-area: are;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
}

.addresses {
  grid-area: addresses;
  display: flex;
  gap: 10rem;
  align-items: center;
  justify-content: center;
}

.address {
  font-size: 1.8rem !important;
  color: var(--white);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
}

.address > img {
  width: 15rem;
  margin-bottom: 1rem;
}

.address > span {
  font-weight: 800;
  font-size: 2rem !important;
  font-family: 'Montserrat', sans-serif !important;
}

@media screen and (max-width: 1200px) {
  .contact-content {
    grid-template-areas:
      'infos mascot'
      'where mascot'
      'we are'
      'addresses addresses';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }

  .mascot > img {
    width: 300px;
  }

  .title {
    font-size: 12rem !important;
  }

  .addresses {
    margin-top: 10rem !important;
  }

  .address > img {
    width: 12rem;
  }
}

@media screen and (max-width: 850px) {
  .contact-content {
    padding-inline: 5rem;
  }

  .mascot > img {
    width: 250px;
  }

  .title {
    font-size: 8rem !important;
  }

  .address > img {
    width: 8rem;
  }

  .address > span {
    font-size: 1.8rem !important;
  }
}

@media screen and (max-width: 650px) {
  .contact-content {
    padding: 10rem 5rem;        
    grid-template-areas:
    'infos'
    'mascot'
    'where'
    'we'
    'are'
    'addresses';
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .title {
    text-align: center;
    font-size: 12rem;
    line-height: 14rem;
  }

  .addresses {
    gap: 5rem;
    flex-wrap: wrap;
    margin-top: 5rem !important;
  }

  .infos {
    gap: 3rem;
    text-align: center;
    padding: 2.5rem 0 0;
    margin-bottom: 5rem;
  }

  .right-text {
    transform: rotate(0);
  }

  .right-text {
    top: -40px;
    width: 335px;
    left: calc(50% - 167.5px);
  }

  .right-text::after {
    width: 190px;
    right: 0;
    left: -60%;
    top: 12px;
  }

  .mascot {
    margin-block: 5rem;
  }
  
  .where, .we, .are, .mascot {
    justify-content: center;
  }

  .title {
    line-height: 1;
  }
}