/* body {
  perspective: none !important;
}

body:has(.navigation-container.opened) {
  overflow: hidden;
}

h3,
h4 {
  text-transform: uppercase;
}

.page-title > .title {
  color: var(--purple);
}

.sakada-universe {
  width: 100%;
  height: 100%;
  color: var(--white);
  background-color: var(--black);
  padding: 10rem 5rem;
  display: flex;
  gap: 10rem;
  align-items: center;
  flex-direction: column;
}

.sakada-universe > .presentation {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 7rem;
}

.sakada-universe > .presentation > video {
  max-width: 50%;
  height: 100%;
}

.sakada-universe > .presentation > .texts > h3 {
  margin-bottom: 4rem;
}

.sakada-universe > .team {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 10rem;
  align-items: center;
  flex-direction: column;
}

.sakada-universe > .team > .founder > .texts > h6,
.sakada-universe > .team > .employees > .employee > .texts > h6 {
  font-weight: 900;
  font-family: 'Inter', sans-serif;
}

.sakada-universe > .team > .founder {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 10rem;
}

.sakada-universe > .team > .founder > img {
  width: 50%;
  height: 100%;
}

.sakada-universe > .team > .founder > .texts {
  display: flex;
  flex-direction: column;
}

.sakada-universe > .team > .founder > .texts > h6 {
  font-size: 3.6rem;
  margin-bottom: 4rem;
}

.sakada-universe > .team > .employees {
  display: grid;
  gap: 5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

.sakada-universe > .team > .employees > .employee {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 5rem;
}

.sakada-universe > .team > .employees > .employee > img {
  max-width: 50%;
  height: 100%;
}

.sakada-universe > .team > .employees > .employee > .texts > h6 {
  font-size: 2.6rem;
  margin-bottom: 1.4rem;
}

.sakada-universe > .team > .employees > .employee > .texts > p {
  font-size: 2rem;
}

.clients {
  text-align: center;
  padding: 10rem 5rem;
}

.clients > h4 {
  margin-bottom: 5rem;
}

.clients > .clients-box {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.clients > .clients-box > img {
  max-width: 15rem;
  height: 100%;
  opacity: 0.6;
  transition: opacity 500ms;
}

.clients > .clients-box > img:hover {
  opacity: 1;
}

.testimony {
  text-align: center;
  padding: 10rem 0 10rem 5rem !important;
}

.testimony > h4 {
  margin-bottom: 5rem;
}

.testimony > .feedbacks {
  width: 100%;
  display: flex;
  align-items: center;
}

.testimony > .feedbacks > .feedback {
  padding: 2rem;
  display: flex;
  gap: 3rem;
  flex-direction: column;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 0px 5px 0px var(--purple);
  -moz-box-shadow: 0px 0px 5px 0px var(--purple);
  box-shadow: 0px 0px 5px 0px var(--purple);
}

.testimony > .feedbacks > .feedback > p {
  text-align: left;
  font-style: italic;
}

.testimony > .feedbacks > .feedback > .person {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.testimony > .feedbacks > .feedback > .person > img {
  width: 10rem;
  height: 10rem;
}

.testimony > .feedbacks > .feedback > .person > .person-infos > span {
  font-size: 1.8rem !important;
  font-weight: bold;
  text-align: left;
  line-height: 2.2rem;
  display: flex;
  flex-direction: column;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 60% !important;
  width: 20px;
  height: 20px;
  padding: 2rem;
  color: var(--white) !important;
  background: var(--pink);
  border-radius: 50%;
}

.swiper-button-next {
  right: 5% !important;
}

.swiper-button-prev {
  left: 5% !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 2.5rem !important;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 4rem !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 2.5rem !important;
}

.swiper-pagination-bullet {
  width: 1.5rem !important;
  height: 1.5rem !important;
}

.swiper-pagination-bullet-active {
  background: var(--pink) !important;
}

@media screen and (max-width: 1200px) {
  .sakada-universe > .team > .employees {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 1024px) {
  .team > h2 {
    font-size: 5rem;
  }

  .testimony > .feedbacks > .feedback > .person {
    gap: 2rem;
    flex-direction: column;
  }

  .testimony > .feedbacks > .feedback > .person > .person-infos > span {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .sakada-universe > .presentation {
    flex-direction: column;
  }

  .sakada-universe > .presentation > video {
    max-width: none;
  }

  .sakada-universe > .team {
    gap: 5rem;
  }

  .sakada-universe > .team > .founder {
    gap: 5rem;
    margin-bottom: 5rem;
    flex-direction: column;
  }

  .sakada-universe > .team > .founder > img {
    width: 100%;
  }

  .testimony > .feedbacks > .feedback > p {
    font-size: 1.8rem;
  }

  .testimony > .feedbacks > .feedback > .person > .person-infos > span {
    font-size: 1.6rem !important;
  }

  .swiper-pagination-bullet {
    width: 2rem !important;
    height: 2rem !important;
  }
}

@media screen and (max-width: 500px) {
  .text {
    font-size: 2rem;
  }
  .sakada-universe {
    padding-inline: 3rem;
  }

  .sakada-universe > .presentation > .texts > h3,
  .sakada-universe > .team > .founder > .texts > h6 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  .sakada-universe > .team > .employees > .employee {
    gap: 2rem;
    flex-direction: column;
  }

  .sakada-universe > .team > .employees > .employee > img {
    width: 100%;
    max-width: none;
  }

  .clients,
  .testimony {
    padding: 5rem 3rem;
  }

  .clients > h4,
  .testimony > h4 {
    font-size: 4rem;
  }

  .testimony > .feedbacks > .feedback > p {
    font-size: 2rem;
  }
} */
